body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.linebreak {
    padding-bottom: 40px;
    display: block;
}

.bookHeader {
    padding-bottom: 70px;
    display: block;
    font-family: 'Berlin Sans FB';
    font-weight: bold;
}

.regCentered {
    margin: 0 auto;
    float: none;
}

/*#bdy {
    background-image: url('../../AppFiles/Images/default.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}*/

.centerblock {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hideform {
    display: none;
}

.modal-header {
    justify-content: center;
}