.small-box.bg-info {
    height: 45px;
}
.small-box bg-success {
    height: 45px !important;
}
.bg-height {
    height: 45px;
}
.small-box bg-warning {
    
}
.small-box bg-danger {
    height: 45px;
}